


body{
    background-color: rgb(211, 195, 175);
}





#mainDiv{
    height: auto;
    text-align: center;
    border: solid 1px;
    margin: 30px;
    background-color: burlywood;

}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}
#input{
    margin-top: 30px;
    padding: 10px;
    border: solid 3px;
}

.liStyle{
    
text-decoration: line-through;

}

.liStyleCursor{
    cursor:pointer;
}

#ul{
  list-style:disc;
 padding: 10px;
 margin: 10px;
 list-style-position: inside;
}

.buttonStyle{
    margin-left: 30px;
    margin-top: 20px;
}